<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="m-b-30">
            <button id="addMP" class="btn btn-primary waves-effect waves-light"
                    [routerLink]="['/production/recipient/ajouter']">Ajouter Recipient<i
              class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
      <div class="card-box">
        <table [ngBusy]="busy" class="table table-striped table-bordered  dataTable no-footer" id="datatable"
               role="grid" aria-describedby="datatable_info">
          <thead>
          <tr role="row">
            <th tabindex="0" class="sorting_asc" aria-controls="datatable" style="width: 170px;"
                aria-label="Name: activate to sort column descending" aria-sort="ascending" rowspan="1"
                colspan="1">Label
            </th>
            <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
                aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Référence
            </th>
            <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 276px;"
                aria-label="Position: activate to sort column ascending" rowspan="1" colspan="1">Volume
            </th>
            <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
                aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Coût
            </th>
            <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 116px;"
                aria-label="Start date: activate to sort column ascending" rowspan="1" colspan="1">Actions
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let recipient of recipients ; let i = index" role="row">
            <td>{{recipient.label}}</td>
            <td>{{recipient.reference}}</td>
            <td>{{recipient.volume}}</td>
            <td>{{recipient.cout}}</td>
            <td>

              <a [routerLink]="['/production/recipient/'+recipient.recipient_id+'/edit']" class="text-inverse p-r-10"
                 data-toggle="tooltip" title="Edit">
                <i class="ti-marker-alt"></i></a>
              <a
                class="text-inverse p-r-10"
                (click)="deleteRecipient(recipient.recipient_id,i)"
                data-toggle="tooltip" title="supprimer">
                <i class="ti-trash"></i></a>


            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
