<!--main form-->
<div class="card-box">
  <h4 class="header-title m-t-0 m-b-30">Créer un compte </h4>
  <div class="form-horizontal">
    <div class="form-group row ">
      <div class="col-sm-3 col-lg-offset-3">
        <input id="nom" name="nom" class="form-control" required placeholder="nom" [(ngModel)]="user.nom" #nom="ngModel">
        <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
          <div *ngIf="nom.errors.required">
            Le nom est obligatire
          </div>

        </div>

      </div>


      <div class="col-sm-3">
        <input id="prenom" name="prenom" class="form-control" required placeholder="Prénom" [(ngModel)]="user.prenom" #prenom="ngModel">
        <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert alert-danger">
          <div *ngIf="prenom.errors.required">
            Le prénom est obligatire
          </div>

        </div>
        
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 col-lg-offset-3">
        <select class="form-control">
          <option value="" disabled selected>Spécialité</option>
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
          <!--<option *ngFor="let u of units, let i=index" [ngValue]="u">{{u.nom}} ({{u.indice}})</option> -->
        </select>

      </div>
      <div class="col-sm-3">
          <input id="cin" name="cin" class="form-control" required placeholder="CIN" [(ngModel)]="user.cin" #cin="ngModel">
          <div *ngIf="cin.invalid && (cin.dirty || cin.touched)" class="alert alert-danger">
            <div *ngIf="cin.errors.required">
              Le CIN est obligatire
            </div>
      </div>
    </div>
  </div>

    <div class="form-group row">
      <div class="col-sm-6 col-lg-offset-3">
        <input type="email" class="form-control" ngModel name="email" #email="ngModel" placeholder=" Email : nom@exemple.com">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 col-lg-offset-3">
        <input class="form-control form-control-lg" ngModel name="gouvernorat" #gouvernorat="ngModel" type="text" placeholder="Gouvernorat">
      </div>
      <div class="col-sm-3">
        <input class="form-control form-control-lg" ngModel name="pays" type="text" #pays="ngModel" placeholder="Pays">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 col-lg-offset-3">
        <input class="form-control form-control-lg" ngModel name="codePostal" #codePostal="ngModel" type="text" placeholder="Code postal">
      </div>
      <div class="col-sm-3">
        <input class="form-control form-control-lg" ngModel name="numeroTelephone" #numeroTelephone="ngModel" type="text" placeholder="Numéro de téléphone">
      </div>
    </div>
    <div class="form-group row">

      <div class="col-sm-6 col-lg-offset-3">
        <input type="text" class="form-control" ngModel name="nomUtilisateur" #nomUtilisateur="ngModel" placeholder="Nom d'utililsateur">
      </div>
    </div>
    <div class="form-group row">

      <div class="col-sm-6 col-lg-offset-3">
        <input type="password" class="form-control" ngModel name="mdp1" #mdp1="ngModel" placeholder="Mot de passe">
      </div>
    </div>
    <div class="form-group row">

      <div class="col-sm-6 col-lg-offset-3">
        <input type="password" class="form-control" ngModel name="mdp2" #mdp2="ngModel" placeholder="Confirmer votre mot de passe">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <button (click)="submit()" class="btn btn-success btn-primary waves-effect waves-light" style="margin-left: 25%">
          <div class="glyphicon glyphicon-ok"></div> &nbsp;Enregistrer
        </button>
      </div>
      <a class="btn btn-danger btn-primary waves-effect waves-light" href="#/" style="margin-left: 1%">
        <div class="glyphicon glyphicon-remove"></div> &nbsp;Annuler</a>
    </div>
  </div>
</div>